{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container text-center my-5">
    <div class="row justify-content-center">
        <section class="col-md-8 p-4 bg-light border rounded-3 shadow-sm">
            <h2 class="fw-bold mb-3">Welcome to CrowdfundMeApp</h2>
            <p class="lead">
                CrowdfundMeApp is a platform where you can share your ideas and get funded by the community.
            </p>
        </section>
    </div>
</main>
{% endblock %}

