{% extends 'base.html' %}

<!--The placeholder {{ title }} then gets replaced by the title from render_template in the definition of the route-->
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="col-md-10">
    {% for raccolta in raccolte %}
        <div class="container my-3">
            <div class="row border rounded shadow-sm p-3">
                <!-- The following div contains the image that represents the collection -->
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename=raccolta.immagine_donazione) }}" alt="" class="img-fluid rounded" style="max-width: 150px; max-height: 170px;">
                </div>

                <div class="col-md-10">
                    <div class="row align-items-center mb-2">
                        <h3 class="col mb-0">
                            <!-- Assuming you need to display the user's nickname who created the raccolta -->
                            <a href="{{ url_for('user_profile', user_id=raccolta.id_utente) }}" class="text-decoration-none">{{ raccolta.nickname | e }}</a> <!-- Adjust the 'url_for' function as per your route -->
                        </h3>
                        <!-- You might need to format 'scadenza' or another date field properly -->
                        <time class="col-auto text-muted">{{ raccolta.scadenza | e }}</time> <!-- Changed to col-auto for dynamic sizing -->
                    </div>
                    <article>
                        {{ raccolta.descrizione | e }}
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}
    </main>

{% endblock %}