{% extends 'base.html' %}
{% block content %}
    {% if not current_user.is_authenticated %}
        <a href="/">Torna indietro</a>
        <div class="col-4 offset-md-4 bg-light p-4 border rounded">
            <!-- The following is the action "/login" which in the app.py is @app.route('/login') -->

            <form action="/login" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <!-- The following is the label Nickname -->
                    <label for="nicknameInput" class="form-label">Email</label>
                    <!-- The following is the input that goes under the name "nickname" -->
                    <input type="text" class="form-control" name="email" id="emailInput">
                </div>

                <div class="mb-3">
                    <!-- The following is the label -->
                    <label for="passwordInput" class="form-label">Password</label>
                    <!-- The following is the input that goes under the name "password" -->
                    <input type="password" class="form-control" name="password" id="passwordInput">
                    <div id="passwordHelp" class="form-text">Non condivideremo mai la tua password con nessun altro.</div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Accedi</button>
                <small>Non hai ancora un account? <a href="/signup">Registrati</a></small>
            </form>
        </div>
    {% endif %}
{% endblock %}